<!--
 * @filename  AndroidManifest.xml
 * @author    Richard Szeto
 * @ccsfname  rszeto
 * @date      April 23, 2014
 * @objective XML AndroidManifest file
 *            for the US quiz game
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quiz1.quizgameusstates"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="quiz1.quizgameusstates.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="quiz1.quizgameusstates.QuizGame"
            android:label="@string/title_activity_quizgame" >
        </activity>
        <activity
            android:name="quiz1.quizgameusstates.Scores"
            android:label="@string/title_activity_scores" >
        </activity>
    </application>

</manifest>
